<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Big Title</title>
    <style>
        .code-inline {
    font-family: monospace; /* Моноширинный шрифт */
    background-color: #f4f4f4; /* Светло-серый фон */
    padding: 2px 4px;
    border-radius: 3px;
    color: #c7254e; /* Цвет текста */
    font-size: 0.9em;
}
        .h2-style {
        color: white;
        background-color: grey
        }
    </style>
</head>

<body>
<h1>Заголовок 1го уровня</h1>
<div class="container">
    <h2 class="h2-style">Заголовок 2го уровня</h2>
    <p>Обрати внимание на итоговое состояние в этом уровне – так как мы дважды перемещаем коммиты, оба они получат по
        апострофу. Ещё один апостроф добавляется, когда мы делаем <span class="code-inline">git commit --amend</span>.
    </p>
    <a href="https://learngitbranching.js.org/?locale=ru_RU" target="_blank">Название ссылки</a>
</div>

<img src="https://stepik.org/static/frontend/feedback/5.svg" alt="Картинка.svg" style="width: 300px">

<div class="container">
    <h3 class="h2-style">Ненумерованный список</h3>
    <ul>
        <li>Пункт 1</li>
        <li>Пункт 2</li>
        <li>Пункт3</li>
    </ul>
</div>
<div>
    <h3>Нумерованный список</h3>
    <ol>
        <li>Нумерованный пункт 1</li>
        <li>Нумерованный пункт 2</li>
        <li>Нумерованный пункт 3</li>
    </ol>
</div>
<form action="/submit" method="post">
    <input type="text" placeholder="Тут будет текст" required>
    <input type="checkbox" required>
    <input type="radio" required>
    <input type="password" placeholder="Введите пароль" required>
    <input type="email" placeholder="example@mail.com" required>
    <input type="date" placeholder="Укажите дату">
    <input type="file">
    <textarea placeholder="Тут будет еще текст"></textarea>
    <input type="submit" value="Послать" disabled>
    <button type="submit">Подтвердить</button>
</form>
<table>
    <thead>
    <tr>
        <td>Заголовок ячейки 1</td>
        <td>Заголовок ячейки 2</td>
        <td>Заголовок ячейки 3</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Slot 1</td>
        <td>Slot 2</td>
        <td>Slot 3</td>
    </tr>
    <tr>
        <td>Slot 1-2</td>
        <td>Slot 2-2</td>
        <td>Slot 3-2</td>
    </tr>
    <tr>
        <td>Slot 1-3</td>
        <td>Slot 2-3</td>
        <td>Slot 3-3</td>
    </tr>
    </tbody>
</table>

</body>
</html>